@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Alegreya Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.logo {
  font-family: "Leckerli One", cursive;
}

.banner-home {
  color: #fff;
}

.btn-home {
  background-color: #f7941d;
  color: #fff;
  font-family: "Leckerli One", cursive;
  border-radius: 32px;
  border-color: #fff;
}

.banner-tour {
  background-color: #00a79d;
  color: #fff;
}

.grey {
  background-color: #ccc;
}

.video {
  background-color: #000;
  color: #fff;
}

.banner-pricing {
  background-color: #f7941d;
  color: #fff;
}

.orange {
  background-color: #f7941d;
}

.btn-pricing {
  background-color: #92278f;
  color: #fff;
  font-family: "Leckerli One", cursive;
  border-radius: 32px;
  border-color: #fff;
}

.white {
  color: #fff;
}

.btn-sign-up {
  background-color: #00a79d;
  color: #fff;
  font-family: "Leckerli One", cursive;
  border-radius: 32px;
  border-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  background-color: #ccc;
}

.turquoise {
  color: #00a79d;
}

.banner-sign-up {
  background-color: #92278f;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  li {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.4rem;
  }

}

@media only screen and (min-width: 38em) {

  h3 {
    font-size: 1rem;
  }

}
